---
---

@import "jekyll-theme-slate";

#project_title {
  a {
    color: #fff;
  }
}

#main_content {
  padding-top: 10px;
}

#presentations, #demos, #lectures {
  ._lists {
    ._item {
      ._title {
        margin-bottom: 0;
      }

      ._meta {
        font-size: 10px;
        color: #777;
        font-style: italic;
      }
    }
  }
}

#lectures {

  ._lists {
    ._item {
      margin-bottom: 23px;

      &:hover {
        .mk_id {
          display: inline !important;
        }
      }

      ._title {
        .mk_id {
          display: none;
        }
      }

      ._content {
        margin-top: 8px;
        font-size: 14px;
      }
    }
  }

  table {
    width: 100%;
    border: none;
    margin-top: 32px;

    td {

      padding: 0;
      vertical-align: top;
      border: none;

      &.left {
        width: 65%;
      }

      &.right {
        width: 35%;
        text-align: right;
      }

      p {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 4px;

        &.name {
          font-weight: bold;
        }

        i {
          padding-right: 6px;
        }
      }

      img {
        padding: 0;
        margin: 0;
        max-width: 150px;
      }
    }
  }

}

#portfolios {
  ._count {
    text-align: right;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
  }

  ._lists {
    display: flex;
    flex-wrap: wrap;

    ._item {
      font-size: 12px;

      ._title {
        font-size: 18px;
        margin: 16px 0 8px;
      }

      ._meta {
        color: #333;

        ._author {

        }

        ._url {
          color: #3F51B5;
          font-style: italic;
        }
      }

      ._description {
        color: #777;
      }


      &:nth-of-type(2n) {
        margin-right: 0;
      }

      display: inline-block;
      margin-bottom: 8px;
      width: calc(50% - 8px);
      margin-right: 16px;
      color: black;
      line-height: 16px;

      figure {
        margin: 0;
        overflow: hidden;

        figcaption {
          margin-top: 8px;
        }

        img {
          border: none;
          max-width: 100%;
          height: auto;
          display: block;
          background: #ccc;
          transition: transform .2s ease-in-out;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .inner {
    min-width: auto;
  }

  #lectures {
    table {
      td {
        &.left {
          width: 100%;
        }

        &.right {
          width: 0;
        }

        p {
          font-size: 16px;
        }

        img {
          display: none;
        }
      }
    }
  }

}
