---
layout: default
---

<div id="activities">

  <h2>Activities &mdash; <a href="https://wakatime.com/@23Pstars" target="_blank">@23Pstars</a></h2>

  <figure><embed src="https://wakatime.com/share/@23Pstars/56ec5e45-4e27-4b68-96fa-3448107fbe4a.svg"></embed></figure>

  <figure><embed src="https://wakatime.com/share/@23Pstars/cc0d680f-cbe1-4cbb-a9e1-b25324f1799b.svg"></embed></figure>

  <figure><embed src="https://wakatime.com/share/@23Pstars/64cf8b6a-1fb9-435f-8f03-a65b380cd2da.svg"></embed></figure>

</div>