---
layout: default
---

<div id="portfolios">

  <h2>Portfolios</h2>

  <div class="_lists">

    {% assign sorted = site.portfolios | sort: 'site_year' %}
    {% for site in sorted reversed %}
      <div class="_item">
        <figure>
          <img src="{{ site.site_thumb }}" alt="{{ site.title }}">
          <figcaption>
            <h4 class="_title">
              {{ site.title }}
              <span class="_year">({{ site.site_year }})</span>
            </h4>
            <div class="_meta">
              <span class="_author">{{ site.site_author }}</span>
              &mdash;
              <span class="_url">{{ site.site_url }}</span>
            </div>
            <div class="_description">
              {{ site.content }}
            </div>
          </figcaption>
        </figure>
      </div>
    {% endfor %}

  </div>

  <p class="_count">{{ sorted.size }} items and counting...</p>

</div>