---
layout: default
---

<div id="presentations">

  <h2>Presentations</h2>

  <div class="_lists">

    {% for post in site.posts %}
      {% if post.categories contains 'Slides' %}
        <div class="_item">
          <h4 class="_title">
            <a href="{{ post.slide_url }}">
              {{ post.title }}
            </a>
          </h4>
          <div class="_meta">{{ post.date }}</div>
          <div class="_description">{{ post.description }}</div>
        </div>
      {% endif %}
    {% endfor %}

  </div>

</div>